@import 'material-icons/iconfont/material-icons.css';
@import "tailwindcss";

@theme {
  --font-color: #2b2d42;
  --color-default-navy: #2b2d42;
}

.p-dropdown {
  background-color: red !important;
}

